// Base.xcconfig
// Base configuration shared across all environments

// MARK: - API Configuration

API_VERSION = v1
REQUEST_TIMEOUT = 30

// MARK: - App Configuration

MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

// MARK: - App Setup
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = {{ .ProjectName }}/Info.plist
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES

// MARK: - Resource Symbol Generation

ASSET_CATALOG_COMPILER_GENERATE_ASSET_SYMBOLS = YES
ASSET_CATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
LOCALIZED_STRING_SWIFT_SYMBOLS_GENERATION = YES
