import Foundation

// MARK: - {{ .FeatureName }}Model

/// Domain model representing a {{ .FeatureNameLower }} entity
struct {{ .FeatureName }}Model: Sendable, Equatable, Identifiable {
    // MARK: - Properties

    let id: String
    let name: String
    let description: String
}
