import Foundation

// MARK: - {{ .FeatureName }}Decorator

/// UI model for displaying {{ .FeatureNameLower }} data in views
struct {{ .FeatureName }}Decorator: Sendable, Identifiable, Equatable {
    // MARK: - Properties

    let id: String
    let displayName: String
    let subtitle: String
}
